@model ProductViewModel;

<style>
table, th, td {
  border: 1px solid;
  width: 50%;
}
</style>

<form method="post">
<div class="form-group row">
       <div class="col-sm-6">
            <input type="text" class="form-control" asp-for="Name" placeholder="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" asp-for="Price" placeholder="Price">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-info px-2 float-right" style="margin: 20px; margin-left: -3px;">Save Product</button>
</form>

@{
    var products = (List<ProductViewModel>) ViewData["products"];

    if(products.Count > 0)
    {
       <table>
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>
  <tr>
  @foreach (var item in (List<ProductViewModel>) ViewData["products"])
		{
		<tr>
            <form method="post" asp-controller="Product" asp-action="Delete">
			<td>@item.Name</td>
			<td>@item.Price</td>
            <input type="hidden" class="form-control" asp-for="Id" value="@item.Id">
            <input type="hidden" class="form-control" asp-for="Name" value="@item.Name">
            <input type="hidden" class="form-control" asp-for="Price" value="@item.Price">
            <td>
                <button type="submit" class="btn btn-danger" style="margin: 5px 2px 5px 2px;">Delete</button>
            </td>
            </form>
		</tr>
		}
        </table>
    }
    else
    {
        <h5>No Products to Display</h5>
    }
}


